<div class="user">
  <div class="user__info" (click)="userMenu = !userMenu" [class.active]="userMenu">
    <img class="user__img" src="./assets/demo/img/profile-pics/8.jpg" alt="">
    <div class="row no-gutters row__actions">
      <div class="row no-gutters col-lg-12">
        <div class="user__name">{{(profile | async )?.firstName}} {{(profile | async )?.lastName}}</div>
        <!-- <div class="user__email">{{sessionService.currentUser.email}}</div> -->
        <div class="mr-3 ml-auto">
          <i class="fa fa-caret-down" *ngIf="!userMenu"></i>
          <i class="fa fa-caret-up" *ngIf="userMenu"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="userMenu" [@toggleUserMenu]="userMenu" class="user__menu">
    <a  routerLinkActive="content__title__text" (click)="goToViewProfile();">View Profile</a>
    <a  routerLinkActive="content__title__text">Settings</a>
    <a  routerLinkActive="content__title__text" (click)="logout()" >Logout</a>
  </div>
</div>
