<div class="left_panel">
    <div class="left_panel_header">
        <img src="assets/img/logos/fllair-logo-transparent.png" alt="" class="content__background__theme">
        <p> Boost Your Career With <span class="content__title__text">Fllair</span></p>
    </div>

    <div class="left_panel_body">
        <p class="frist">Fllair supports your Job Search, Career Success and Personal Wellbeing.</p>

        <div class="core">
            <p class="core_title content__title__text">Why Fllair?</p>
            <ul>
                <li>
                    <p>Create an online resume that stands out</p>
                </li>

                <li>
                    <p>Take our ‘New Job In Under 30 Days’ challenge</p>
                </li>

                <li>
                    <p>Maintain complete control over your privacy</p>
                </li>

                <li>
                    <p>Articles, hints and tips from experienced career experts</p>
                </li>
                <li>
                    <p>Standard membership is FREE for a limited time</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="left_panel_footer">
        <p>Fllair is proudly brought to you by <a href="http://www.ogroup.com.au" target="_blank">Optimum Consulting Group</a>.</p>
    </div>
</div>
