@import "../../../assets/scss/scss-imports";

// Base
.header {
  position: fixed;
  width: 100%;
  height: $header-height;
  box-shadow: $header-shadow;
  color: $white;
  padding: 0 1rem 0 2rem;
  z-index: $header-z-index;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  transition: background-color 300ms;

  // @include clearfix();

  .ma-backdrop {
    position: absolute;
  }
}


// Nav
.prefix-scrollable {
  height: 25vh;
  overflow-y: auto;
}
.prefix-scrollable::-webkit-scrollbar {
width: .8em;
}

.prefix-scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

.prefix-scrollable::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 50px;
}
.top-nav {
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;

  & > li {
    display: inline-block;
    vertical-align: middle;

    & > a {
      display: block;
      color: $white;
      border-radius: 2px;
      text-align: center;
      line-height: 100%;
      position: relative;
      @include transition(background-color 300ms);

      &:not(.header__nav__text) {
        padding: 0.5rem 0.15rem;
        min-width: 50px;

        & > .zmdi {
          font-size: 1.65rem;
          line-height: 100%;
        }
      }
    }

    &.open,
    &:hover {
      & > a {
        background-color: rgba($white, 0.2);
      }
    }

    .dropdown-menu--block {
      padding: 0;
    }

    @include media-breakpoint-down(xs) {
      position: static;

      .dropdown-menu--block {
        left: 20px;
        width: calc(100% - 40px);
        top: $header-height - 10;
      }
    }
  }
}
.curs_pointer {
  cursor: pointer;
}

// Top Navigation
.top-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  box-shadow: $header-shadow;
  padding: 0 1rem 0.5rem;
  list-style: none;
  text-align: center;

  & > li {
    display: inline-block;

    &.active {
      position: relative;
      box-shadow: 0 0 0 -2px red;
    }

    & > a {
      line-height: 100%;
      color: rgba($white, 0.65);
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      padding: 1rem;
      display: block;
      transition: color 300ms;

      &:hover {
        color: $white;
      }
    }

    &.active {
      & > a {
        color: $white;
      }
    }
  }
}

.menu_disabled{
  background: grey !important;
}
