@import "../../../../../../assets/scss/scss-imports";

.text_input {
	padding-right: 50px !important;
}
.text_area_input{
	padding-bottom: 20px;
}
.input_container {
	position: relative;
	.counter_limit  {
		position: absolute;
		bottom: 5px;
		right: 5px;
	}
}
::ng-deep  .warning_limit {
	svg path {
		stroke: red !important;
	}
}
.card-body {
    border: 1px solid #e8e8e9;
    .form-group {
        input, textarea {
            display: block;
            width: 100%;
            height: calc(1.54em + .876rem + 2px);
            padding: .438rem .875rem;
            font-size: .894rem;
            font-weight: 400;
            line-height: 1.54;
            color: #4E5155;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(24,28,33,0.1);
            border-radius: .25rem;
        }
        textarea {
            height: 100%;
        }
    }
}
.card-body:first-child {
    border-bottom: 0px !important;
}
.avatar-panel {
    margin-left: .2rem;
    img {
        max-height: 10vh;
    }
    .media-body {
        label {
            padding: 10px 15px;
            input {
                position: absolute;
                visibility: hidden;
                width: 1px;
                height: 1px;
                opacity: 0;
            }
        }
        .btn-outline-light {
            color: $navigation-link-color;
            border-color: lighten($navigation-link-color, 30%);
        }
    }
}

.modal-body {
    .upload_btn {
        width: 100%;
        text-align: center;
        cursor: pointer;
        i {
            font-size: 7rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
    .upload_actions {
        width: 100%;
        .btn-outline-light {
            color: $navigation-link-color;
            border-color: lighten($navigation-link-color, 30%);
        }
        .transform_actions {
            float: right;
            button:last-child {
                margin-left: 3px !important;
            }
        }
    }
}