@import "../../../../../assets/scss/scss-imports";
.card-body {
    border: 1px solid #e8e8e9;
    .form-group {
        input, textarea {
            display: block;
            height: calc(1.54em + .876rem + 2px);
            padding: .438rem .875rem;
            font-size: .894rem;
            font-weight: 400;
            line-height: 1.54;
            color: #4E5155;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(24,28,33,0.1);
            border-radius: .25rem;
        }
        textarea {
            height: 100%;
        }
    }
}
.confirm_password {
    position: relative;
    .password_confirm_icons {
        position: absolute;
        right: 70px;
        bottom: 8px;
    }
    .password_confirm_icons:last-child {
        bottom: 5px;
    }
}
.card-body:first-child {
    border-bottom: 0px !important;
}
.page-footer {
       .save_btn, .btn-outline-light {
            color: #ffffff;
            padding: 5px 15px;
       }
        .btn-outline-light {
            margin-left: 5px;
            color: $navigation-link-color !important;
            border-color: lighten($navigation-link-color, 30%);
       }
   }
.help__icon {
    i { 
        font-size: 1.2rem !important;
        color: rgb(184, 186, 187);
    }
}



@media (max-width: 767px)  { 
    .confirm_password {
        .password_confirm_icons {
            right: 17vw !important;
        }
    }
}
@media (max-width: 990px)  { 
    .confirm_password {
        .password_confirm_icons {
            right: 11vw
        }
    }
}