<form [formGroup]="passwordForm">
    <div class="card-body">
        <div class="form-group">
            <label class="form-label">Current Password</label>
            <div class="confirm_password row no-gutters">
                <input type="password" class="mb-1 col-10 col-lg-11" formControlName="oldPassword" minlength="6">
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">New Password</label>
            <div class="confirm_password row no-gutters">
                <input type="password" class="mb-1 col-10 col-lg-11" formControlName="newPassword" minlength="6">
                <div class="password_confirm_icons" *ngIf="passwordForm.controls.newPassword.valid ">
                    <i class="fa fa-check text-success"></i>
                </div>
                <div class="help__icon my-auto pl-4 pl-lg-3 col-2 col-lg-1">
                    <i class="far fa-question-circle" placement="right" tooltip="Password must be at least 6 characters and contain only A-Z a-z 0-9 and symbols"></i>
                </div>
            </div>
            

        </div>
        <div class="form-group">
            <label class="form-label">Confirm New Pasword</label>
            <div class="confirm_password row no-gutters ">
                <input type="password" class="mb-1 col-10 col-lg-11 " formControlName="confirmPassword" minlength="6">
                <div class="password_confirm_icons" *ngIf="passwordForm.controls.confirmPassword.valid">
                    <i class="fa fa-check text-success" *ngIf="passwordValidation"></i>
                    <i class="fa fa-times text-danger"  *ngIf="!passwordValidation"></i>
                </div>
                <div class="help__icon my-auto pl-4 pl-lg-3 col-2 col-lg-1">
                    <i class="far fa-question-circle" placement="right" tooltip="Confirm password must match password field"></i>
                </div>
            </div>
        </div>
        <div class="page-footer pb-2 text-right">
            <button class="btn content__background__theme save_btn my-1" [disabled]="!passwordForm.valid || !passwordValidation" (click)="submit()">Save</button>
            <button class="btn btn-outline-light my-1" (click)="cancel()">Cancel</button>
        </div>
    </div>
</form>