<div [attr.data-ma-theme]="env.theme">
    <div class="content__gradient__background body_container">

    <div class="login_container">
        <div class="login">
            <div class="card">
                <div class="card-body">
                    <app-auth-leftpanel></app-auth-leftpanel>
                    
                    <!-- RIGHT PANEL-->
                    <!-- Recover Request -->
                    <div class="right_panel" *ngIf="!isRequestDone">
                        <div class="panel_title">
                            <i class="fa fa-key logo content__title__text"></i>
                            <h4 class="card-title content__title__text">Recover Password</h4>
                        </div>

                        <form class="login_body"  [formGroup]="passworRecovery">
                            <p>Enter your email address and we'll send you the instructions</p>
                            <div class="form-group form-group--float form-group--centered">
                                <i class="fa fa-envelope content__title__text"></i>
                                <input formControlName="email" type="text" class="form-control" InputFloat required (keydown.enter)="recoverPassword()">
                                <label>Email Address</label>
                                <i class="form-group__bar"></i>
                            </div>

                        </form>
                        <div class="login_button">
                            <button [disabled]="f.email.errors" type="button" class="btn content__background__theme" (click)="recoverPassword()">Continue</button>
                        </div>
                        <div class="line_separ">
                            <hr class="content__background__theme">
                        </div>
                        <div class="sign_up">
                            <p>Renembered your Password? <span routerLink="/auth/login" class="content__title__text">Back to Sign in</span>
                            </p>
                        </div>
                    </div>
                    <!-- After Recover Request -->
                    <div class="right_panel" *ngIf="isRequestDone">
                        <div class="panel_title">
                            <i class="fa fa-key logo content__title__text"></i>
                            <h4 class="card-title content__title__text">Recover Password</h4>
                        </div>
                    
                        <form class="login_body" [formGroup]="passworRecovery">
                            <p>Recovery Password Request has been sent, please check your email.</p>
                        </form>
                        <div class="login_button">
                            <button type="button" class="btn content__background__theme" (click)="done()">Done</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
