
<div [attr.data-ma-theme]="env.theme">
    <div class="content__gradient__background body_container">

    <div class="login_container">
        <div class="login">
            <div class="card">
                <div class="card-body">
                    <app-auth-leftpanel></app-auth-leftpanel>
                    <div class="right_panel">
                        <div *ngIf="isRequestProcess === 0">
                            <div class="panel_title">
                            <img src="assets/img/logos/fllair-logo-transparent.png" alt="" class="content__background__theme logo mx-auto">
                                <h4 class="card-title content__title__text">Join Us!</h4>
                                <h6 class="card-subtitle">Please enter your account information.
                                </h6>
                            </div>
                            <form [formGroup]="signupForm" class="login_body">
                                <div class="error_tip" *ngIf="(f.userName.value === null || f.email.value === null) && errorMessage.message !== ''">
                                    {{ errorMessage.message }}</div>
                                <div class="form-group form-group--float form-group--centered">
                                    <i class="fa fa-user content__title__text"></i>
                                    <input (input)="checkCharacters($event)" [ngStyle]="{'border-bottom':f.userName.value === null  && errorMessage.type === 'name' ? '2px solid red' : '' }" formControlName="userName" type="text" class="form-control" InputFloat required (keydown.enter)="continue()" >
                                    <label>User Name</label>
                                    <i class="form-group__bar"></i>
                                </div>

                                <div class="form-group form-group--float form-group--centered">
                                    <i class="fa fa-envelope content__title__text"></i>
                                    <input [ngStyle]="{'border-bottom':f.email.value === null  && errorMessage.type === 'email' ? '2px solid red' : '' }" formControlName="email" type="text" class="form-control" InputFloat required (keydown.enter)="continue()" >
                                    <label>Email Address</label>
                                    <i class="form-group__bar"></i>
                                </div>
                                    <!-- <div class="input-group-prepend">
                                        <button class="btn btn-danger" *ngIf="!isVerified" (click)="openModal()">Verify</button>
                                        <button class="btn btn-success" *ngIf="isVerified"><i class="fas fa-check" style="color: white; font-size: 11px;"></i>&nbsp;Verified</button>
                                    </div> -->
                                <div class="form-group form-group--float form-group--centered">
                                    <i class="fa fa-lock content__title__text"></i>
                                    <input formControlName="password" type="password" class="form-control" autocomplete="on"
                                        InputFloat required (keydown.enter)="continue()" >
                                    <label>Password</label>
                                    <i class="form-group__bar"></i>
                                </div>
                                <div class="form-group form-group--float form-group--centered">
                                    <i class="fa fa-lock content__title__text"></i>
                                    <input formControlName="confirm" type="password" class="form-control" autocomplete="on" InputFloat required (keydown.enter)="continue()" >
                                    <div class="password_confirm" *ngIf="f.password.value !== '' && f.confirm.value !== ''">
                                        <i class="fa fa-check" *ngIf="f.password.value !== null && f.password.value === f.confirm.value"></i>
                                        <i class="fa fa-times" *ngIf="f.password.value !== null && f.password.value !== f.confirm.value"></i>
                                    </div>
                                    <label>Confirm Password</label>
                                    <i class="form-group__bar"></i>
                                </div>
                            </form>
                            <div class="forgot_password">
                                <p routerLink="/auth/forgot" class="content__title__text">Forgot Password?</p>
                            </div>
                            <div class="login_button">
                                <button [disabled]="formErrorHandler" type="button" class="btn content__background__theme"
                                    (click)="continue()">Register</button>
                            </div>

                            <div class="line_separ">
                                <hr class="content__background__theme">
                            </div>

                            <div class="sign_up">
                                <p> Already have an account? <span routerLink="/auth/login" class="content__title__text">Sign in now!</span></p>
                            </div>
                        </div>
                        <div *ngIf="isRequestProcess === 1" class="requestDone">
                            <div class="panel_title">
                                <!-- <form [formGroup]="twoFAForm"> -->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Do you want to turn on 2 Factor Authentication?</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="checkbox checkbox--inline">
                                                <input id="checkbox1" (click)="toggleOn2FA(true)" [checked]="on2FA" type="checkbox">
                                                <label class="curs_pointer checkbox__label" for="checkbox1">Yes</label>
                                            </div>
                                            <div class="checkbox checkbox--inline">
                                                <input id="checkbox2" (click)="toggleOn2FA(false)"  [checked]="!on2FA" type="checkbox">
                                                <label class="curs_pointer checkbox__label" for="checkbox2">No</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 pt-4">
                                            <label>Mobile Number</label>
                                        </div>
                                        <div class="col-sm-12 pt-0 mt-0">
                                            <div class="mb-2">
                                                <ngx-intl-tel-input
                                                [cssClass]="'mobile__input'"
                                                [preferredCountries]="[CountryISO.Australia, CountryISO.UnitedKingdom]"
                                                [enableAutoCountrySelect]="false"
                                                [enablePlaceholder]="true"
                                                [searchCountryFlag]="true"
                                                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                                [selectFirstCountry]="false"
                                                [selectedCountryISO]="CountryISO.Australia"
                                                [maxLength]="15"
                                                [tooltipField]="TooltipLabel.Name"
                                                [phoneValidation]="true"
                                                name="phone"
                                                (input)="validate()"
                                                [(ngModel)]="phone"></ngx-intl-tel-input>
                                            </div>
                                        </div>
                                    </div>
                                <div class="modal_button">
                                    <div class="row no-gutters">
                                        <div class="text-right col-12 pb-3 col-lg-6 px-1 col-md-6">
                                            <button class="col-12 col-lg-8 btn content__background__theme" [disabled]="!on2FA" *ngIf="!isVerified">Verify Phone</button>
                                            <button class="col-12 col-lg-8 btn btn-success" *ngIf="isVerified"><i class="fas fa-check"></i>&nbsp;&nbsp;Verified</button>
                                        </div>
                                        <div class="text-left col-12 col-lg-6 px-1 col-md-6">
                                            <button class="col-12 col-lg-8 btn content__background__theme" [disabled]="!isValid2FAForm" (click)="signUp()">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="isRequestProcess === 2" class="requestDone">
                            <div class="panel_title">
                                <img src="assets/img/logos/fllair-logo-transparent.png" alt="" class="content__background__theme logo mx-auto">
                                <h4 class="card-title content__title__text">Please check your email!</h4>
                                <h6 class="card-subtitle">Your account has been created. Please check your <span class="highlight">email</span>
                                    to verify your
                                    account.
                                </h6>
                                
                                <div class="modal_button">
                                    <button class="button content__background__theme set__width" (click)="done()">Done</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>