<form [formGroup]="profileService.detailsForm">
    <div class="card-body" formArrayName="socialLinks">
        <div class="form-group">
            <label class="form-label">Facebook</label>
            <input type="text" class="mb-1" formControlName="facebook">
        </div>
        <div class="form-group">
            <label class="form-label">Instagram</label>
            <input type="text" class="mb-1" formControlName="instagram">
        </div>
        <div class="form-group">
            <label class="form-label">Linkedin</label>
            <input type="text" class="mb-1" formControlName="linkedin">
        </div>
        <div class="form-group">
            <label class="form-label">Twitter</label>
            <input type="text" class="mb-1" formControlName="twitter">
        </div>
    </div>
</form>