<div class="container">
    <div class="row">
        <div class="col-12 card mb-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        image here
                    </div>
                    <div class="col-9">
                        <h1 class="mb-0">Company Title Here</h1><br>
                        <span class="text-secondary">Type of Service/Work Environment</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 card">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Quam nulla porttitor massa id neque aliquam. Dictumst vestibulum 
                rhoncus est pellentesque elit ullamcorper dignissim cras. Tortor vitae purus faucibus ornare 
                suspendisse sed. Fringilla est ullamcorper eget nulla facilisi etiam dignissim. Amet volutpat 
                consequat mauris nunc congue nisi. Ac tincidunt vitae semper quis lectus nulla at. Placerat in 
                egestas erat imperdiet sed. Nisi est sit amet facilisis magna etiam tempor. Tristique et egestas 
                quis ipsum suspendisse ultrices. Tincidunt praesent semper feugiat nibh sed pulvinar proin. Dignissim 
                sodales ut eu sem integer vitae justo eget. <br>
                Amet venenatis urna cursus eget nunc scelerisque. Feugiat 
                ivamus at augue eget. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Proin nibh nisl 
                condimentum id venenatis a condimentum vitae sapien. Risus ultricies tristique nulla aliquet. Dui 
                ut ornare lectus sit amet. Tincidunt dui ut ornare lectus sit amet est placerat in. Ac tortor dignissim
                convallis aenean et tortor. Feugiat nisl pretium fusce id. Nisi est sit amet facilisis. Donec ac odio 
                tempor orci dapibus ultrices. Scelerisque eleifend donec pretium vulputate sapien. Sed viverra ipsum 
                nunc aliquet bibendum enim. Pulvinar elementum integer enim neque volutpat. Senectus et netus et 
                malesuada fames. Eu lobortis elementum nibh tellus molestie nunc non blandit massa. Sit amet massa 
                vitae tortor condimentum. Tincidunt ornare massa eget egestas. Eros donec ac odio tempor. 
                Non curabitur gravida arcu ac tortor dignissim convallis aenean et.
            </div>
        </div>
    </div>
</div>
