<div class="container content_inner">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12 card mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="avatar text-center col-md-3 col-lg-3 col-xl-3">
                                <div class="user content__background__theme ml-auto mr-auto">
                                    <span class="name">
                                        {{ abbrev }}
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-9 col-xl-9 col-md-9 pt-md-4 pl-3 pr-0">
                                <h1 class="mb-0 text-md-left text-center">Company Title Here</h1>
                                <h6 class="text-secondary text-md-left text-center mt-2">Type of Service/Work
                                    Environment</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 card mb-2 pl-0 pr-0">
                    <div class="card-header">
                        Job Vacancies
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead>
                                    <th class="w-60vh">Job Posting</th>
                                    <th class="w-20vh">Applied</th>
                                    <th>Considering</th>
                                    <th>Shortlisted</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="ta-left">Sample</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 card mb-2 pl-0 pr-0">
                    <div class="card-header">
                        Recruiters
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead>
                                    <th class="w-60vh">Job Posting</th>
                                    <th class="w-20vh">Applied</th>
                                    <th>Considering</th>
                                    <th>Shortlisted</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="ta-left">Sample</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-2">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="act">Actions</h5>
                    <p class="mb-2 text-secondary">Management</p>
                    <a class="btn btn-success float-left mb-1 w-100 text-white" [routerLink]="'/user/profile/edit'">Edit
                        Profile</a>
                    <a class="btn btn-info float-left mb-1 w-100 text-white" [routerLink]="'/vacancies'">Manage
                        Vacancies</a>
                    <a class="btn btn-info float-left mb-1 w-100 text-white" [routerLink]="'/mentors/dashboard'">Manage
                        Recruiters</a>
                </div>
            </div>
        </div>
    </div>
</div>