.section-indent {
    text-indent: 10px;
}
.card-subtitle {
    margin-top: -2rem !important;
}
.toolbar__search {
    padding-right: 2.2rem;
}
.search__font__size {
    font-size: 8rem;
    -webkit-text-stroke: 2px white;
}
.fontawesome_font_weight {
    -webkit-text-stroke: .3px white;
}

.long-txt-ellip{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}